{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block title %}{{ block.super }} | check me out) {% endblock %} {% block content %}

{% compress css %}
<link rel="stylesheet" href="{% static 'app/css/about.css' %}">
{% endcompress %}

<section id="intro">
     <div class="intro-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <h1>I am a
		 <span class="txt-type" data-wait="1000" data-words='["Developer", "Designer", "Creator"]'></span>
		</h1>
        </div>
        </div>
    </div>
</section>
<section id="about">
	<div class="about-me">
		<article>
			<h1>At a computer desk in the ground, there lived a software developer</h1>

		<div class="intro-article">
			<img src="{% static 'app/img/IMG_1850.JPG' %}" alt="Pic of Author">
			<p>
                Raised in the heat of the greater Phoenix area in Arizona, I always loved technology and learned as
                much as I could both hardware and software. Learning HTML/CSS in grade school only further increased my
                 interest in computers. While working in various healthcare positions and studying at the University of
                Utah, I continued my love for technology by learning Python and Javascript.
			</p>
		</div>
		<div class="lead-article">
            <img src="{% static 'app/img/IMG_20170302_163853.jpg' %}">
			<P>
			    After a few years, I found Lambda School as a way to switch career paths from healthcare to software
                development. I learned full stack web development, to make full web applications from the ground up,
                in addition to computer science principles. Now, you can find me building smart home projects with
                Raspberry Pi's, creating web applications, and learning new technologies.
			</p></div>
		</article>
	</div>
</section>
<section id="photogrid">

</section>

{% endblock %}
